{% load i18n cdr_extras frontend_notification_tags %}

<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">

      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>

      <a class="brand" href="/">
        <img src="{{STATIC_URL}}cdr-stats/images/cdr-stats.png" />
        <span class="menu-label">CDR-Stats</span>
      </a>

      <div class="nav-collapse">
          {% if user.is_authenticated %}
            <ul class="nav">
              {% if perms.user_profile.dashboard %}
                <li {% ifequal module 'dashboard' %}class="active"{% endifequal %}><a href="/dashboard/">{% trans "Dashboard" %}</a></li>
              {% endif %}
            </ul>
            <ul class="nav pull-left">
              <li id="fat-menu-I" class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">{% trans "Analytics" %}<b class="caret"></b></a>
                <ul class="dropdown-menu">
                  {% if perms.user_profile.overview %}
                    <li {% ifequal module 'overview' %}class="active"{% endifequal %}><a href="/cdr_overview/">{% trans "overview"|title %}</a></li>
                  {% endif %}
                  {% if perms.user_profile.search %}
                    <li {% ifequal module 'search' %}class="active"{% endifequal %}><a href="/cdr_view/">{% trans "search"|title %}</a></li>
                  {% endif %}
                  {% if perms.user_profile.daily_comparison %}
                    <li {% ifequal module 'cdr_report_by_hour' %}class="active"{% endifequal %}><a href="/hourly_report/">{% trans "daily comparison"|title %}</a></li>
                  {% endif %}
                  {% if perms.user_profile.weekly_comparison %}
                    <li {% ifequal module 'cdr_weekly_comparison' %}class="active"{% endifequal %}><a href="/weekly_comparison/">{% trans "weekly comparison"|title %}</a></li>
                  {% endif %}
                 </ul>
              </li>
            </ul>
            <ul class="nav pull-left">
              <li id="fat-menu-II" class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">{% trans "Real-Time" %}<b class="caret"></b></a>
                <ul class="dropdown-menu">
                  {% if perms.user_profile.real_time_calls %}
                    <li {% ifequal module 'cdr_realtime' %}class="active"{% endifequal %}><a href="/cdr_realtime/">{% trans "real-time calls"|title %}</a></li>
                  {% endif %}
                  {% if perms.user_profile.concurrent_calls %}
                    <li {% ifequal module 'cdr_concurrent_calls' %}class="active"{% endifequal %}><a href="/cdr_concurrent_calls/">{% trans "concurrent calls"|title %}</a></li>
                  {% endif %}
                 </ul>
              </li>
            </ul>
            <ul class="nav pull-left">
              <li id="fat-menu-III" class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">{% trans "reports"|title %}<b class="caret"></b></a>
                <ul class="dropdown-menu">
                  {% if perms.user_profile.by_country %}
                    <li {% ifequal module 'cdr_country_report' %}class="active"{% endifequal %}><a href="/country_report/">{% trans "by country"|title %}</a></li>
                  {% endif %}
                  {% if perms.user_profile.world_map %}
                    <li {% ifequal module 'world_map_view' %}class="active"{% endifequal %}><a href="/world_map/">{% trans "world map"|title %}</a></li>
                  {% endif %}
                  {% if perms.user_profile.mail_report %}
                    <li {% ifequal module 'cdr_mail_report' %}class="active"{% endifequal %}><a href="/mail_report/">{% trans "mail report"|title %}</a></li>
                  {% endif %}
                </ul>
              </li>
            </ul>
            <ul class="nav pull-left">
              <li id="fat-menu-IV" class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">{% trans "threat control"|title %}<b class="caret"></b></a>
                <ul class="dropdown-menu">
                  {% if perms.cdr_alert.alert_settings %}
                    <li {% ifequal module 'alert' %}class="active"{% endifequal %}><a href="/alert/">{% trans "alert settings"|title %}</a></li>
                  {% endif %}
                  {% if perms.cdr_alert.alarm_report %}
                    <li {% ifequal module 'alert_report' %}class="active"{% endifequal %}><a href="/alert_report/">{% trans "Alert Report"|title %}</a></li>
                  {% endif %}
                  {% if perms.cdr_alert.view_blacklist and perms.cdr_alert.view_whitelist%}
                    <li {% ifequal module 'trust_control' %}class="active"{% endifequal %}><a href="/trust_control/">{% trans "destination control"|title %}</a></li>
                  {% endif %}
                </ul>
              </li>
            </ul>
          {% endif %}

          {% if user.is_authenticated %}
            <ul class="nav pull-right">
              <li id="fat-menu-V" class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ user.username|capfirst }}
                  {% if notice_count or notice_count == 0 %}
                    <span class="label label-warning">{{ notice_count }}</span>
                  {% elif "/api-explorer/" in request.get_full_path %}
                    <span class="label label-warning">{% get_notice_count request %}</span>
                  {% endif %}
                  <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                  <li {% ifequal module 'detail_change' %}class="active"{% endifequal %}><a href="/user_detail_change/?action=tabs-1">
                        {% trans "Account settings" %}</a>
                  </li>
                  <li>
                    <a href="/user_notification/">{% trans "Notifications" %}
                      {% if notice_count or notice_count == 0 %}
                        <span class="label label-warning">{{ notice_count }}</span>
                      {% elif "/api-explorer/" in request.get_full_path %}
                        <span class="label label-warning">{% get_notice_count request %}</span>
                      {% endif %}
                    </a>
                  </li>
                  <li {% ifequal module 'detail_change' %}class="active"{% endifequal %}><a href="/user_detail_change/?action=tabs-3">
                    {% trans "Change Language" %}</a>
                  </li>
                  <li class="divider"></li>
                  {% if perms.user_profile.view_api_explorer %}
                    <li><a href="/api-explorer/"> {% trans "API Explorer" %}</a></li>
                  {% endif %}
                  {% if user.is_superuser %}
                    <li><a href="/diagnostic/"> {% trans "Diagnostic" %}</a></li>
                  {% endif %}
                  <li class="divider"></li>
                  {% if user.is_superuser %}
                    <li><a href="/admin/"> {% trans "Administration" %}</a></li>
                    <li class="divider"></li>
                  {% endif %}
                  <li><a href="/logout/">{% trans "Log out" %}</a></li>
                </ul>
              </li>
            </ul>
          {% endif %}

      </div><!--/.nav-collapse -->
    </div>
  </div>
</div>
