{% extends "frontend/master.html" %}
{% load i18n cdr_extras country_dialcode_tags common_tags %}
{% load cache %}
{% block extra_head %}
  <script type="text/javascript">
  $(document).ready(function() {
    $("#accordion").accordion({ autoHeight: false,  clearStyle: true  });
  });
  </script>
   <script src="http://code.highcharts.com/modules/data.js"></script>
   <script src="http://code.highcharts.com/stock/highstock.js"></script>
   <script src="http://code.highcharts.com/stock/modules/exporting.js"></script>
<!-- Additional files for the Highslide popup effect -->
   <script type="text/javascript" src="http://www.highcharts.com/media/com_demo/highslide-full.min.js"></script>
   <script type="text/javascript" src="http://www.highcharts.com/media/com_demo/highslide.config.js" charset="utf-8"></script>
   <script src="http://code.highcharts.com/highcharts.js"></script>
<script src="http://code.highcharts.com/modules/funnel.js"></script>
<script src="http://code.highcharts.com/modules/exporting.js"></script>
<script type="text/javascript" src="http://www.amcharts.com/lib/3/amcharts.js"></script>
<script type="text/javascript" src="http://www.amcharts.com/lib/3/pie.js"></script>
<script type="text/javascript" src="http://www.amcharts.com/lib/3/themes/light.js"></script>
<script>
   var calls = {{total_calls}};
</script>
<link rel="stylesheet" type="text/css" href="http://www.highcharts.com/media/com_demo/highslide.css" />
   <div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
{% endblock %}

{% block content %}
<div class="row">
    <div class="span12">
        <table align="right">
            <tbody>
            <tr>
                <td class="td-dashboard">
                    <div class="btn-group" data-toggle="buttons-radio">
                        <button class="btn active" id="id_day">{% trans "Jour" %}</button>
		
			<button class="btn" id="id_call_hour">{% trans "Heure" %}</button>

                        <!--default-->

                    </div>
                </td>

            </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="row">
    <div class="span12">
      <div style="color:#0000FF">
       <h4>Numero de compte</h4>

<select id="mySelect"></select>
<input id="Go_ID" type="button" class="btn btn-primary" value="{% trans "Montrer" %}" />
      </div>
    </div>  

<script id="source" language="javascript">
   (function selectOne() {
      var dataF={{num|safe}};
      var select = document.getElementById('mySelect');
          df = document.createDocumentFragment();
      for (var i=0; i<=dataF.length; i++) {
         var option = document.createElement('option');
         option.value = dataF[i];
         option.appendChild(document.createTextNode(dataF[i]));
         df.appendChild(option);
               }
      select.appendChild(df);
    }());
</script>
<script id="source" language="javascript" type="text/javascript">
$(function () {
    $(document).ready(function () {
    $('#id_call_hour').click(function(){
         //   URl+=accountcode;
            window.location="http://197.5.128.31:8000/Hourly_Concurrent_Call/";

            });
     });

    $(document).ready(function () {     
    $('#Go_ID').click(function(){
         alert($('#mySelect').val());
         //   URl+=accountcode;
            window.location="http://197.5.128.31:8000/CONC_numero/"+$('#mySelect').val()+"/";

            });
     });
    $('#container').highcharts({
        chart: {
            type: 'line',
            zoomType: 'x'
        },
           title: {
                text: 'Concurrent call by minute'
            },
            plotOptions : {
            series  : {
                pointStart      : (new Date()).getTime(),
                pointInterval   : 60000,
                color: '#e6b800'
            }
        },

           xAxis: {
                title: {
                    text: 'Time'
                },
                type: 'datetime',
                tickInterval : 3600000 * 2,

                 labels: {
                    rotation:0,
                    formatter: function() {
                       return Highcharts.dateFormat('%I:%M %p', this.value);
                }
              }
          },

            yAxis: {
                title: {
                    text: 'Concurrent Call'
                }
            },

            tooltip: {
                crosshairs: true,
                shared: true,
                valueSuffix: null,
},

            legend: {
                enabled: false
            },

        series: [{
            name: 'CONC_CALL ',
            data: calls
        }]
        });

});
</script>
{% endblock %}

