{% extends "frontend/master.html" %}
{% load i18n cdr_extras country_dialcode_tags common_tags %}
{% load cache %}
{% block extra_head %}
  <script type="text/javascript">
  $(document).ready(function() {
    $("#accordion").accordion({ autoHeight: false,  clearStyle: true  });
  });
  </script>

<script type="text/javascript" src="http://www.amcharts.com/lib/3/amcharts.js"></script>
<script type="text/javascript" src="http://www.amcharts.com/lib/3/serial.js"></script>
<script type="text/javascript" src="http://www.amcharts.com/lib/3/themes/light.js"></script>
<script src="http://code.highcharts.com/highcharts.js"></script>
<script src="http://code.highcharts.com/modules/exporting.js"></script>
<script src="http://code.highcharts.com/highcharts-more.js"></script>
<div id="container" style="min-width: 310px; height: 400px; margin:0 auto"></div>

<script>
 var d1={{d1}};
 var d2={{d2}};
 var d3={{d3}};
 var d4={{d4}};
 var d5={{d5}};
 var d6={{d6}};
 var d7={{d7}};
 var date = new Date(), y = date.getFullYear(), m = date.getMonth();
     
</script>
{% endblock %}

{% block content %}
<div class="row">
    <div class="span12">
      <div style="color:#0000FF">
       <h4>Numero de compte</h4>

<select id="mySelect"></select>
<input id="Go_ID" type="button" class="btn btn-primary" value="{% trans "Montrer" %}" />
      </div>
    </div>  
</div>
<script id="source" language="javascript">
   (function selectOne() {
      var dataF={{num|safe}};
      var select = document.getElementById('mySelect');
          df = document.createDocumentFragment();
      for (var i=0; i<=dataF.length; i++) {
         var option = document.createElement('option');
         option.value = dataF[i];
         option.appendChild(document.createTextNode(dataF[i]));
         df.appendChild(option);
               }
      select.appendChild(df);
    }());
</script>

<script id="source" language="javascript" type="text/javascript">
$(function () {
    $(document).ready(function () {     
    $('#Go_ID').click(function(){
         alert($('#mySelect').val());
         //   URl+=accountcode;
            window.location="http://197.5.128.31:8000/Weekly_Concurrent_Call_byNumber/"+$('#mySelect').val()+"/";

            });
     });
    $('#container').highcharts({
        title: {
            text: 'weekly comparison',
            x: -20 //center
        },
        subtitle: {
            text: null,
            x: -20
        },
        plotOptions : {
            series  : {
                pointStart      : (new Date()).getTime(),
                pointInterval   : 60 * 1000
            }
        },
        xAxis: {
	    type         : 'datetime',
            tickInterval : 3600000 * 2,
            labels: {
                rotation:0,
                formatter: function() {
                    return Highcharts.dateFormat('%I:%M %p', this.value);   
                }
            }

                    },
        yAxis: {
            title: {
                text: 'Appels simultanes par semaine'
            },
            plotLines: [{
                value: 0,
                width: 1,
                color: '#808080'
            }]
        },
   //     tooltip: {
   //         valueSuffix: '°C'
   //     },
        legend: {
            layout: 'vertical',
            align: 'right',
            verticalAlign: 'middle',
            borderWidth: 0
        },
        series: [{
            name: ((new Date()).getDate()) + "-" + ((new Date()).getMonth()+1) + "-" +(new Date()).getFullYear(),
            data: d1
         }, {
            name: ((new Date()).getDate()-1) + "-" + ((new Date()).getMonth()+1) + "-" +(new Date()).getFullYear(),
            data: d2

        }, {
            name: ((new Date()).getDate()-2) + "-" + ((new Date()).getMonth()+1) + "-" +(new Date()).getFullYear(),
            data: d3
        }, {
              name: ((new Date()).getDate()-3) + "-" + ((new Date()).getMonth()+1) + "-" +(new Date()).getFullYear(),
            data: d4
        }, {
           name: ((new Date()).getDate()-4) + "-" + ((new Date()).getMonth()+1) + "-" +(new Date()).getFullYear(),
            data: d5
        }, {
           name: ((new Date()).getDate()-5) + "-" + ((new Date()).getMonth()+1) + "-" +(new Date()).getFullYear(),
            data: d6
        }, {

             name: ((new Date()).getDate()-6) + "-" + ((new Date()).getMonth()+1) + "-" +(new Date()).getFullYear(),
            data: d7

           }]
    });
});
</script>
{% endblock %}
