{% extends "frontend/master.html" %}
{% load i18n cdr_extras country_dialcode_tags common_tags %}
{% load cache %}
{% block extra_head %}
  <script type="text/javascript">
  $(document).ready(function() {
    $("#accordion").accordion({ autoHeight: false,  clearStyle: true  });
  });
  </script>
   <script src="http://code.highcharts.com/modules/data.js"></script>
   <script src="http://code.highcharts.com/stock/highstock.js"></script>
   <script src="http://code.highcharts.com/stock/modules/exporting.js"></script>
<!-- Additional files for the Highslide popup effect -->
   <script type="text/javascript" src="http://www.highcharts.com/media/com_demo/highslide-full.min.js"></script>
   <script type="text/javascript" src="http://www.highcharts.com/media/com_demo/highslide.config.js" charset="utf-8"></script>
   <script src="http://code.highcharts.com/highcharts.js"></script>
<script src="http://code.highcharts.com/modules/funnel.js"></script>
<script src="http://code.highcharts.com/modules/exporting.js"></script>
<script src="http://code.highcharts.com/highcharts-more.js"></script>
<script type="text/javascript" src="http://www.amcharts.com/lib/3/amcharts.js"></script>
<script type="text/javascript" src="http://www.amcharts.com/lib/3/pie.js"></script>
<script type="text/javascript" src="http://www.amcharts.com/lib/3/themes/light.js"></script>

   <script>
 //  var num = {{numero}};
   var donnees={{total_calls}};
   </script>
   <link rel="stylesheet" type="text/css" href="http://www.highcharts.com/media/com_demo/highslide.css" />
   <div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
{% endblock %}

{% block content %}
<div class="row">
    <div class="span12">
        <table align="right">
            <tbody>
            <tr>
                <td class="td-dashboard">
                    <div class="btn-group" data-toggle="buttons-radio">
                        <button class="btn" id="id_day">{% trans "Jour" %}</button>

                        <button class="btn active" id="id_bokeh">{% trans "Heure" %}</button>
                        <!--default-->

                    </div>
                </td>

            </tr>
            </tbody>
        </table>
</div>
</div>
<div class="row">
<div class="span4">
 <div style="color:#0000FF">
       <h6>Numero de compte :</h6>

        <select id="mySelect"></select>

    <input id="ID_Show" type="button" class="btn btn-primary" value="{% trans "Montrer" %}" />
 </div>
 </div>

<script>
 (function selectOne() {
      var dataF={{numero|safe}};
      var select = document.getElementById('mySelect');
          df = document.createDocumentFragment();
      for (var i=0; i<=dataF.length; i++) {
         var option = document.createElement('option');
         option.value = dataF[i];
         option.appendChild(document.createTextNode(dataF[i]));
         df.appendChild(option);
               }
      select.appendChild(df);
    }());

</script>

<script id="source" language="javascript" type="text/javascript">
$(function () {
    $(document).ready(function () {
    $('#id_day').click(function(){
         //   URl+=accountcode;
            window.location="http://197.5.128.31:8000/concurrent.calls/";

            });
     });
    $(document).ready(function () {     
    $('#ID_Show').click(function(){
         alert($('#mySelect').val());
         //   URl+=accountcode;
            window.location="http://197.5.128.31:8000/Hourly_Concurrent_Call_byNumber/"+$('#mySelect').val()+"/";

            });
     });
    $('#container').highcharts({
        chart: {
            type: 'line',
            zoomType: 'x'
        },
           title: {
                text: "Appels simultanes par minute"
            },
            plotOptions : {
            series  : {
                pointStart      : (new Date()).getTime(),
                pointInterval   : 60000,
                color: '#e6b800'
            }
        },

           xAxis: {
                title: {
                    text: 'Time'
                },
                type: 'datetime',
                tickInterval : 60000 * 10,

                 labels: {
                    rotation:0,
                    formatter: function() {
                       return Highcharts.dateFormat('%I:%M %p', this.value);
                }
              }
          },

            yAxis: {
                title: {
                    text: 'Concurrent Call'
                }
            },

            tooltip: {
                crosshairs: true,
                shared: true,
                valueSuffix: ''
},

            
        series: [{
            name: 'Conc Call ',
            data: donnees
        }]
        });

});
</script>
{% endblock %}
