{% extends "frontend/master.html" %}
{% load i18n cdr_extras country_dialcode_tags common_tags %}
{% load cache %}
{% block extra_head %}
  <script type="text/javascript">
  $(document).ready(function() {
    $("#accordion").accordion({ autoHeight: false,  clearStyle: true  });
  });
  </script>
   <script src="http://code.highcharts.com/modules/data.js"></script>
   <script src="http://code.highcharts.com/stock/highstock.js"></script>
   <script src="http://code.highcharts.com/stock/modules/exporting.js"></script>
<!-- Additional files for the Highslide popup effect -->
   <script type="text/javascript" src="http://www.highcharts.com/media/com_demo/highslide-full.min.js"></script>
   <script type="text/javascript" src="http://www.highcharts.com/media/com_demo/highslide.config.js" charset="utf-8"></script>
   <script src="http://code.highcharts.com/highcharts.js"></script>
<script src="http://code.highcharts.com/modules/funnel.js"></script>
<script src="http://code.highcharts.com/modules/exporting.js"></script>
<script type="text/javascript" src="http://www.amcharts.com/lib/3/amcharts.js"></script>
<script type="text/javascript" src="http://www.amcharts.com/lib/3/themes/light.js"></script>
<script>
   var calls = {{total_calls}};
   var acct={{num}};
</script>
<link rel="stylesheet" type="text/css" href="http://www.highcharts.com/media/com_demo/highslide.css" />
   <div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
{% endblock %}

{% block content %}
<script id="source" language="javascript" type="text/javascript">
$(function () {
    $('#container').highcharts({
        chart: {
            type: 'line',
            zoomType: 'x'
        },
           title: {
                text: 'Appels simultanes par minute de '+acct
            },
            plotOptions : {
            series  : {
                pointStart      : (new Date()).getTime(),
                pointInterval   : 60000,
                color: '#e6b800'
            }
        },

           xAxis: {
                title: {
                    text: 'Time'
                },
                type: 'datetime',
                tickInterval : 60000 * 10,

                 labels: {
                    rotation:0,
                    formatter: function() {
                       return Highcharts.dateFormat('%I:%M %p', this.value);
                }
              }
          },

            yAxis: {
                title: {
                    text: 'Concurrent Call'
                }
            },

            tooltip: {
                crosshairs: true,
                shared: true,
                valueSuffix: null,
},

            legend: {
                enabled: false
            },

        series: [{
            name: 'CONC_CALL ',
            data: calls
        }]
        });

});
</script>
{% endblock %}
