{% extends "frontend/master.html" %}
{% load i18n cdr_extras country_dialcode_tags common_tags %}

{% load cache %}

{% block extra_head %}
  <script type="text/javascript">
  $(document).ready(function() {
    $("#accordion").accordion({ autoHeight: false,  clearStyle: true  });
  });
  </script>
  {% endblock %}

{% block content %}

<div id="form_collapse" class="collapse">
    <form class="well" method="POST" action="." enctype="multipart/form-data">{% csrf_token %}
 <div class="row">
        <div class="span12">
        <table align="left">
            <tbody>
            <tr>
                <td class="td-dashboard">

                <div class="span4">
		   <label class="control-label" for="{{ form.switch.auto_id }}">{{ form.switch.label }} :</label>
                    <div class="input">

          	        {{ form.switch }}
              	        <span class="help-block">{{ form.switch.help_text|safe }} </span>
                    </div>
                <div/>
                </td>
            </tr>
            </tbody>
        </table>
                <div class="span4">	
        <label class="control-label" for="{{ form.accountcode.auto_id }}">{{ form.accountcode.label }} :</label>
        <form class="AcctForm" action="." id="id_acct_from" method="post">
	<select id="mySelect"></select>
         </form>

  		  </div>
	  </div>
        </div>
      </div>


<input id="id_btn" type="button" class="btn btn-primary" value={% trans "Recherche" %} />
   <label></label>

</form>
</div>
<script id="source" language="javascript">
   (function selectOne() {
      var dataF={{num|safe}};
      var select = document.getElementById('mySelect');
          df = document.createDocumentFragment();
      for (var i=0; i<=dataF.length; i++) {
         var option = document.createElement('option');
         option.value = dataF[i];
         option.appendChild(document.createTextNode(dataF[i]));
         df.appendChild(option);
               }
      select.appendChild(df);
    }());
</script>
 
<script id="source" language="javascript" type="text/javascript">
$(function () {
    var data = [
        {% for data in total_record %}
            [{{ data.0 }}, {{ data.1.count_call }}, {{ data.1.duration_sum }}],
        {% endfor %}
    ];
        
    $(document).ready(function () {     
    $('#id_btn').click(function(){
         alert($('#mySelect').val());
         //   URl+=accountcode;
            window.location="http://197.5.128.31:8000/numero/"+$('#mySelect').val()+"/";

            });
     });

     
    function Info(time,info){
        for(var i in data){
            if (data[i][0] == parseInt(time)){
                switch(info){
                    case 0:
                        return data[i][0];
                    break;
                    case 1:
                        return data[i][1];
                    break;
                    case 2:
                        return data[i][2];
                    break;
                    default:
                        return data[i][0];
                }
            }
        }
    }

    function formTicks(val) {

        var dt = new Date(parseInt(val));
        var hour = dt.getHours();
        var minute = dt.getMinutes();
        var ampm = hour >= 12 ? 'pm' : 'am';
        var hour = hour % 12;
        hour = hour ? hour : 12; // the hour '0' should be '12'
        minute = minute < 10 ? '0' + minute : minute;
        strTime = hour + ':' + minute + ' ' + ampm;
        return strTime
    }

    var options = {
        xaxis: { mode: "time",
                 tickLength: 5,
                 tickFormatter: function(val) { return formTicks(val) }
        },
        yaxis: { min: 0, tickDecimals: false },
        selection: { mode: "x" },
        grid: {
                hoverable: true,
                xaxis: false
              }
    };

    var plot = $.plot($("#graph_responsive"), [data], options);

    var overview = $.plot($("#overview"), [data], {
        legend: {show: false},
        series: {
            lines: { show: true, lineWidth: 1 },
            shadowSize: 0
        },
        xaxis: { ticks: [], mode: "time" },
        yaxis: { ticks: [], min: 0, autoscaleMargin: 0.1 },
        selection: { mode: "x" }
    });

    // now connect the two
    $("#graph_responsive").bind("plotselected", function (event, ranges) {
        // do the zooming
        plot = $.plot($("#graph_responsive"), [data],
                      $.extend(true, {}, options, {
                          xaxis: { min: ranges.xaxis.from, max: ranges.xaxis.to }
                      }));

        // don't fire event on the overview to prevent eternal loop
        overview.setSelection(ranges, true);
    });

    $("#overview").bind("plotselected", function (event, ranges) {
        plot.setSelection(ranges);
    });

    $("#graph_responsive").bind("plothover", function (event, pos, item) {
        if (item) {
            if (previousPoint != item.dataIndex) {
                previousPoint = item.dataIndex;

                $("#tooltip").remove();
                var x = item.datapoint[0].toFixed(2),
                    y = item.datapoint[1].toFixed(2);

                var time = x;
                var dt = new Date(parseInt(time));
                var hour = dt.getHours();//(time.toString().split("."))[0];
                var minute = dt.getMinutes();//Math.round(time * 60 - (hour * 60));
                var output = '';
                output += '<div class="graph_tooltip_header">';

                var ampm = hour >= 12 ? 'pm' : 'am';
                var hour = hour % 12;
                hour = hour ? hour : 12; // the hour '0' should be '12'
                minute = minute < 10 ? '0'+minute : minute;
                strTime = hour + ':' + minute + ' ' + ampm;

                output += strTime + '</div><div class="graph_tooltip_info">{% trans "Calls" %}: ' + Info(time,1) + '<br>{% trans "Duration" %}: ' + Info(time,2) + ' {% trans "secs" %}</div>';

                showTooltip(item.pageX, item.pageY, output);
            }
        }
        else {
            $("#tooltip").remove();
            previousPoint = null;
        }
    });
});
</script>





<div class="row">
    <div class="span12">
        <table align="right">
            <tbody>
            <tr>
                <td class="td-dashboard">
                    <div class="btn-group" data-toggle="buttons-radio">
                        <button class="btn active" id="id_day">{% trans "Jour" %}</button>
		
			<button class="btn" id="id_ma_fonction_bokeh">{% trans "Heure" %}</button>



                        <!--default-->

                    </div>
                </td>

            </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="row">
    <div class="span12">
        <div class="graph_header">
            <h2>{% trans "Call Statistics" %} : {% now "jS F Y" %}</h2>
        </div>
    </div>
</div>

<div class="row">
    <div class="span12">
        <div id="graph_responsive" style="margin:auto;"></div>
    </div>
</div>
<div class="row">
    <div class="span12">
        <div id="overview" style="margin:auto;margin-bottom:20px;margin-top:20px;width:400px;height:50px"></div>
    </div>
</div>

{% if hangup_analytic %}

    <script type="text/javascript">
    $(document).ready(function () {     
    $('#id_ma_fonction_bokeh').click(function(){
         //   URl+=accountcode;
            window.location="http://197.5.128.31:8000/bokeh/";

            });
     });
    function pieHover(event, pos, obj){
        if (!obj)
            return;
        percent = parseFloat(obj.series.percent).toFixed(2);
        $("#hover").html('<span style="font-weight: bold; color: '+obj.series.color+'">'+obj.series.label+' ('+percent+'%)</span>');
    }

    function pieClick(event, pos, obj){
        if (!obj)
           return;
        percent = parseFloat(obj.series.percent).toFixed(2);
        alert(''+obj.series.label+': '+percent+'%');
    }

    $(function () {

        var data = [
            {% for td in hangup_analytic %}
                {% cache 1800 hangup_cause_id td.0 %}
                    {
                        label: '{{ td.0|hangupcause_name_with_title }}',
                        data: [[1, {{ td.1 }}]]
                    },
                {% endcache %}
            {% endfor %}
        ];
        /*
        var data = [
            { label: 'ANSWER' , data: [[1, {{ total_answered }}]], color: '{{ answered_color }}' },
            { label: 'FORBIDDEN' , data: [[1, {{ total_forbiden }}]], color: '{{ forbiden_color }}' },
        ];*/
        var options = {
            series: {
                pie: {
                    show: true,
                    innerRadius: 0.35,
                    radius: 1,
                    label: {
                        show: true,
                        radius: 3/4,
                        formatter: function(label, series){
                            return '<div style="font-size:8pt;text-align:center;color:white;">'+label+'<br/>'+Math.round(series.percent)+'%</div>';
                            }
                        },
                    background: { opacity: 0.5 }
                }
            },
            legend: {
                show: false
            },
            grid: {
                hoverable: true,
                clickable: true
            }
        };
        $("#camp_pie").bind("plothover", pieHover);
        $("#camp_pie").bind("plotclick", pieClick);
        var plot = $.plot($("#camp_pie"), data, options);
    });

    </script>
{% endif %}

{% if total_country_data %}

    <script type="text/javascript">
    //country pi
    function pieHoverCountry(event, pos, obj){
        if (!obj)
            return;
        percent = parseFloat(obj.series.percent).toFixed(2);
        $("#country_hover").html('<span style="font-weight: bold; color: '+obj.series.color+'">'+obj.series.label+' ('+percent+'%)</span>');
    }

    function pieClickCountry(event, pos, obj){
        if (!obj)
           return;
        percent = parseFloat(obj.series.percent).toFixed(2);
        alert(''+obj.series.label+': '+percent+'%');
    }

    $(function () {

        var data = [
            {% for td in total_country_data %}
                { label: '{{ td.0|country_name|title }}' , data: [[1, {{ td.1.call_count }}]]},
            {% endfor %}
        ];

        var options = {
            series: {
                pie: {
                    show: true,
                    innerRadius: 0.35,
                    radius: 1,
                    label: {
                        show: true,
                        radius: 3/4,
                        formatter: function(label, series){
                            return '<div style="font-size:8pt;text-align:center;padding-bottom:2px;color:white;">'+label+'<br/>'+Math.round(series.percent)+'%</div>';
                            }
                        },
                    background: { opacity: 0.5 }
                }
            },
            legend: {
                show: false
            },
            grid: {
                hoverable: true,
                clickable: true
            }
        };
        $("#country_pie").bind("plothover", pieHoverCountry);
        $("#country_pie").bind("plotclick", pieClickCountry);
        var plot = $.plot($("#country_pie"), data, options);
    });
    </script>
{% endif %}

<div class="row">
    <div class="span6 welldashboard">
        <h2 align="center">{% trans "call totals report"|title %}</h2>
        <hr/>
        {% if hangup_analytic %}
            <div id="camp_pie" style="width:350px;height:350px;margin:auto;"></div>
            <div id="hover"><span style="font-weight: bold; color: rgb(148, 64, 237);"></span></div>
        {% endif %}
        <br/>
        <div class="dashboard_summary_header span6">{% trans "Total Calls"%}</div>
        <div class="span6">
            <table>
                <tbody>
                <tr>
                    <td class="td-dashboard">{{ total_calls }}</td>
                    <td>{% trans "Number of Calls"%}</td>
                </tr>
                <tr>
                    <td class="td-dashboard">{{ ACT }}</td>
                    <td>{% trans "Average Calls Per Hour"%}</td>
                </tr>
                <tr>
                    <td class="td-dashboard">{{ total_duration }}</td>
                    <td>{% trans "Total Duration"%}</td>
                </tr>
                <tr>
                    <td class="td-dashboard">{{ ACD }}</td>
                    <td>{% trans "Average Call Duration"%}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="span6 welldashboard">
        <h2 align="center">{% trans "countries report"|title %}</h2>
        <hr/>
        {% if total_country_data %}
            <div id="country_pie" style="width:350px;height:350px;margin:auto;"></div>
            <div id="country_hover"><span style="font-weight: bold; color: rgb(148, 64, 237);"></span></div>
        {% endif %}
        <br/>
        <div class="dashboard_summary_header span6">{% trans "5 most called countries"|title %}</div>
        {% if total_country_data %}
            <div class="span6">
                <table>
                    <tbody>
                    {% for country_data in total_country_data %}
                        <tr>
                            <td class="td-dashboard">
                                {% if country_data.0 %}
                                    {% cache 1800 country_data country_data.0 %}
                                        <img src="{{STATIC_URL}}cdr-stats/{{ country_data.0|iso_flag }}" class="elemtooltip" title="{{ country_data.0|country_name|title }}">
                                    {% endcache %}
                                {% else %}
                                    <img src="{{STATIC_URL}}cdr-stats/icons/world.png" class="elemtooltip" title="{% trans "World" %}">
                                {% endif %}
                            </td>
                            <td class="td-dashboard" width="100">{{ country_data.0|country_name|title }}</td>
                            <td width="100">{{ country_data.1.call_count }} {% trans "Calls"%}</td>
                            <td>{{ country_data.1.duration_sum|conv_min }} {% trans "minutes"%}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        {% else %}
            <div class="span5">{% trans "No record found" %}</div>
        {% endif %}
    <div>

    </div>
</div>
{{script}}
{{div}}

{% endblock %}

