{% extends "frontend/master.html" %}
{% load i18n cdr_extras country_dialcode_tags common_tags %}
{% load cache %}
{% block extra_head %}
  <script type="text/javascript">
  $(document).ready(function() {
    $("#accordion").accordion({ autoHeight: false,  clearStyle: true  });
  });
  </script>
   <script src="http://code.highcharts.com/modules/data.js"></script>
   <script src="http://code.highcharts.com/stock/highstock.js"></script>
   <script src="http://code.highcharts.com/stock/modules/exporting.js"></script>
<!-- Additional files for the Highslide popup effect -->
   <script type="text/javascript" src="http://www.highcharts.com/media/com_demo/highslide-full.min.js"></script>
   <script type="text/javascript" src="http://www.highcharts.com/media/com_demo/highslide.config.js" charset="utf-8"></script>
   <script src="http://code.highcharts.com/highcharts.js"></script>
<script src="http://code.highcharts.com/modules/funnel.js"></script>
<script src="http://code.highcharts.com/modules/exporting.js"></script>
<script src="http://code.highcharts.com/highcharts-more.js"></script>
<script type="text/javascript" src="http://www.amcharts.com/lib/3/amcharts.js"></script>
<script type="text/javascript" src="http://www.amcharts.com/lib/3/pie.js"></script>
<script type="text/javascript" src="http://www.amcharts.com/lib/3/themes/light.js"></script>

   <script>
   var Data = {{data}};
   var T1 = {{T1}};
   var T2 = {{T2}};
   var T3 = {{T3}};
   var T4 = {{T4}};
   var T5 = {{T5}};
   var T6 = {{T6}};
   var T7 = {{T7}};
   var T8 = {{T8}};
   var T9 = {{T9}};
   var T10 = {{T10}};
   var S = {{S}};
   var p1 = Math.round(((T1/S)*100)*10)/10;  
   var p2 = Math.round(((T2/S)*100)*10)/10;
   var p3 = Math.round(((T3/S)*100)*10)/10;
   var p4 = Math.round(((T4/S)*100)*10)/10;
   var p5 = Math.round(((T5/S)*100)*10)/10;
   var p6 = Math.round(((T6/S)*100)*10)/10;
   var p7 = Math.round(((T7/S)*100)*10)/10;
   var p8 = Math.round(((T8/S)*100)*10)/10;
   var p9 = Math.round(((T9/S)*100)*10)/10;
   var p10 = Math.round(((T10/S)*100)*10)/10;
   var datas={{Test}}   
   </script>
   <link rel="stylesheet" type="text/css" href="http://www.highcharts.com/media/com_demo/highslide.css" />
   <div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
{% endblock %}

{% block content %}
<div class="row">
    <div class="span12">
        <table align="right">
            <tbody>
            <tr>
                <td class="td-dashboard">
                    <div class="btn-group" data-toggle="buttons-radio">
                        <button class="btn active" id="id_day">{% trans "ACD" %}</button>

                        <button class="btn" id="id_bokeh">{% trans "Appels.S" %}</button>
                        <!--default-->

                    </div>
                </td>

            </tr>
            </tbody>
        </table>
</div>
</div>
<div class="row">
<div class="span4">
 <div style="color:#0000FF">
       <h6>Numero de compte :</h6>

        <select id="mySelect"></select>

    <input id="ID_Show" type="button" class="btn btn-primary" value="{% trans "Montrer" %}" />
 </div>
 </div>
</div>
   <div id="container1" style="min-width: 310px; height: 50px; margin: 0 auto"></div>

<div class="row">
    <div class="span12">
        <div id="graph_responsive" style="margin:auto;"></div>
    </div>
</div>

<script>
 (function selectOne() {
      var dataF={{num|safe}};
      var select = document.getElementById('mySelect');
          df = document.createDocumentFragment();
      for (var i=0; i<=dataF.length; i++) {
         var option = document.createElement('option');
         option.value = dataF[i];
         option.appendChild(document.createTextNode(dataF[i]));
         df.appendChild(option);
               }
      select.appendChild(df);
    }());

</script>

<script id="source" language="javascript" type="text/javascript">
$(function () {
    $(document).ready(function () {
    $('#id_bokeh').click(function(){
         //   URl+=accountcode;
            window.location="http://197.5.128.31:8000/concurrent.calls/";

            });
     });
    $(document).ready(function () {     
    $('#ID_Show').click(function(){
         alert($('#mySelect').val());
         //   URl+=accountcode;
            window.location="http://197.5.128.31:8000/ACD_numero/"+$('#mySelect').val()+"/";

            });
     });
    $('#container').highcharts({
        chart: {
            type: 'line',
            zoomType: 'x'
        },
           title: {
                text: "Duree moyenne des appels par minute"
            },
            plotOptions : {
            series  : {
                pointStart      : (new Date()).getTime(),
                pointInterval   : 60000,
                color: '#e6b800'
            }
        },

           xAxis: {
                title: {
                    text: 'Time'
                },
                type: 'datetime',
                tickInterval : 60000 * 10,

                 labels: {
                    rotation:0,
                    formatter: function() {
                       return Highcharts.dateFormat('%I:%M %p', this.value);
                }
              }
          },

            yAxis: {
                title: {
                    text: 'Average Call Duration'
                }
            },

            tooltip: {
                crosshairs: true,
                shared: true,
                valueSuffix: ' Sec',
},

            legend: {
                enabled: false
            },

        series: [{
            name: 'ACD ',
            data: datas
        }]
        });

});

</script>
<div class="row">
    <div class="span12">
        <div id="overview" style="margin:auto;margin-bottom:20px;margin-top:20px;width:400px;height:50px"></div>
    </div>
</div>

<script id="source" language="javascript" type="text/javascript">
var chart = AmCharts.makeChart( "graph_responsive", {
  "type": "pie",
  "theme": "light",
  "legend": {
    "markerType": "circle",
    "position": "right",
    "marginRight": 80,
    "autoMargins": false
  }, 
 
  "dataProvider": [ {
    "country": "ANSWERED",
    "litres": T1
  }, {
    "country": "BUSY",
    "litres": T2
  }, {
    "country": "NO ANSWER",
    "litres": T3
  }, {
    "country": "CANCEL",
    "litres": T4
  }, {
    "country": "CONGESTION",
    "litres": T5
  }, {
    "country": "CHANUNAVAIL",
    "litres": T6
  },{
    "country": "DONTCALL",
    "litres": T7
  }, {
    "country": "TORTURE",
    "litres": T8
  }, {
    "country": "INVALIDARGS",
    "litres": T9
  }, {
    "country": "FAIL",
    "litres": T10
  } ],
  "valueField": "litres",
  "titleField": "country",
  "balloonText": "[[title]]<br><span style='font-size:14px'><b>[[value]]</b> ([[percents]]%)</span>",
  "export": {
    "enabled": true,
    "libs": {
      "path": "http://www.amcharts.com/lib/3/plugins/export/libs/"
    }
  }
} );

</script>

{% endblock %}



