{% extends "frontend/master.html" %}
{% load cdr_extras country_dialcode_tags common_tags %}
{% load cache %}
{% block extra_head %}
   <script src="http://code.highcharts.com/highcharts.js"></script>
   <script src="http://code.highcharts.com/modules/data.js"></script>
   <script src="http://code.highcharts.com/modules/exporting.js"></script>
{% endblock %}
{% block content %}
<div id="chart_panel1"></div>
 <script id="source" language="javascript" type="text/javascript">
    $(document).ready(function() {
    var chartData = {{json_response|safe}}; // regarde comment on récupère les données envoyées 
    console.log(chartData)
    // Group details charts
     var groupDetailsOptions1 = {
        chart: {
            renderTo: 'chart_panel1',
            type: 'areaspline',
            zoomType: 'x',
            borderWidth: 1,
            plotBackgroundColor: 'rgba(192, 192, 192, 0)',
        },
        legend: {enabled: false},
        title: {text: 'Historique de ' + chartData[0].name},
        subtitle: {text: "La durée est en secondes" },
     plotOptions : {
            series  : {
                pointStart      : (new Date()).getTime(),
                pointInterval   : 60 * 1000,
	        color: '#e6b800'
            }
        },
     xAxis: {
            type: 'datetime',
       //     dateTimeLabelFormats: { // don't display the dummy year
        //        month: '%b \'%y',
        //        day: '%e. %b',
        //        year: '%Y. %b'
        //    },
	    tickInterval : 3600000 * 2,
            labels: {
                rotation:0,
                formatter: function() {
                    return Highcharts.dateFormat('%I:%M %p', this.value);   
                }
            },

            title: {
                text: 'Date'
            }

       },
     yAxis: {
            title: {
                text: 'ACD'
            }
        },
        series : [{name: 'ACD'}],
    };
    console.log(chartData[0].name);
    console.log(chartData[0].data);
    groupDetailsOptions1.series[0].name = chartData[0].name;
    groupDetailsOptions1.series[0].data = chartData[0].data;
    var chart = new Highcharts.Chart(groupDetailsOptions1);
  });
</script>
{% endblock %}


